/* Font declaration */

@font-face {
    font-family: Proxima;
    src: url('fonts/Proxima_Nova_Regular.otf');
}

@font-face {
    font-family: Proxima;
    font-weight: bold;
    src: url('fonts/Proxima_Nova_Semibold.otf');
}

h1, h2, h3, h4, h5, h6, p, span, div, input {
    font-family: Proxima, serif;
}


/* Basic styles */

body {
    background-color: #080808;
}

h1, h2, h3, h4, h5, h6, p, span, div {
    color: #ececec;
}

main {
    margin-top: 25px;
}

#logo-header:hover {
    cursor: pointer;
}


/* Search input */

input.form-control {
    background-color: #1a1a1a;
    border: #2f2f2f solid 1px;
    color: #c5c5c5;
    font-size: 12pt;
}

input.form-control:focus {
    border-color: #626262;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(197, 197, 197, 0.6);
}

.input-group-btn button {
    background-color: #0f0f0f;
    border: #2f2f2f solid 1px;
    color: #c5c5c5;
}

.input-group-btn button:hover {
    background-color: #1a1a1a;
    border: #2f2f2f solid 1px;
    color: #c5c5c5;
}
