a.city-block {
    display: block;
    height: 45px;
    padding: 12px;
    background-color: #0d0d0d;
    border: #191919 solid 1px;
    border-radius: 4px;
    color: #d3d3d3;
}

a.city-block:hover {
    text-decoration: none;
    background-color: #191919;
    color: #ffe800;
}

#paginator {
    text-align: center;
}

.pagination > li > a {
    background-color: #121212;
    color: #d0d0d0;
    border-color: #202020;
}

.pagination > li > a:hover {
    background-color: #262626;
    color: #ffe800;
    border-color: #202020;
}

.pagination > li.active > span {
    background-color: #323232;
    color: #efefef;
    border-color: #202020;
}

.pagination > li.active > span:hover {
    background-color: #323232;
    color: #efefef;
    border-color: #202020;
}

.pagination > li > a.disabled {
    padding: 5px;
}
