{% extends 'weather/base.html' %}
{% load static %}

{% block title %}{{ city_weather.city_name }}{% endblock %}

{% block styles %}<link rel="stylesheet" href="{% static 'weather/css/city_weather.css' %}" />{% endblock %}

{% block content %}
    <div id="weather">
        {% include 'weather/city_weather_partial.html' %}
    </div>

    <p>Refresh in:</p>
    <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped active" style="width:100%"></div>
    </div>

    <input type="hidden" id="url_variable" value="{% url 'weather:city_weather' city_id  %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'weather/js/city_weather.html.js' %}"></script>
{% endblock %}
