<h2>{{ city_weather.city_name }} ({{ city_weather.country_name }})</h2>
<div class="media">
    <div class="media-left">
        <img src="{{ city_weather.icon_url }}" class="media-object weather-icon">
    </div>
    <div id="weather-info" class="media-right">
        <p id="temperature">{{ city_weather.temperature }} °C</p>
        <p id="weather-title">{{ city_weather.weather }}</p>
        <p class="weather-descr">{{ city_weather.weather_description }}</p>
        <p class="weather-descr">humidity: {{ city_weather.humidity }}%</p>
        <p class="weather-descr">pressure: {{ city_weather.pressure }} hPa</p>
        <p class="weather-descr">wind: {{ city_weather.wind_direction }} @ {{ city_weather.wind_speed }} m/s</p>
    </div>
</div>
